name: Docker_build_and_push

on:
  push:
    branches:
      - feature/data_collection

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Log in to Docker Hub
      run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login registry365.cr.cloud.ru -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

    - name: Build Docker image
      run: docker compose build

    - name: Push Docker image
      run: docker compose push
